<html>
  <head>
    <title>Items</title>
    <link rel="stylesheet" href="/styles/cart.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    
  </head>

  <body>

    <div id="shopping-cart" class="pop-up-container">
        <div class="pop-up">

          <% cartItems.forEach(function(item){ %>
            <h2><%= item.name %></h2>
          <% }); %>

            <button>
              <a href="/">BACCK 3shan omar</a>
            </button>
        </div>
    </div>

   
  </body>
  <script type="text/javascript">
    

    
  </script>
</html>
